html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0d1117;
    color: #f0f4f7;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 5%;
}

.navbar-menu li {
    list-style: none;
}

.navbar-menu a {
    background-color: #3498db;
    color: #f0f4f7;
    text-decoration: none;
    font-size: 0.95rem;
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
}

.navbar-menu a:hover {
    background-color: #2579b0;
}

main {
    padding: 0 20px;
}

h1 {
    font-size: 2.8em;
    color: #3498db;
    margin-bottom: 2rem;
    text-align: center;
}

form {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    color: #f0f0f0;
    font-weight: 500;
    font-size: 1.1rem;
}

select {
    font-size: 1rem;
    padding: 10px 15px;
    border: 1px solid #3498db;
    border-radius: 10px;
    box-sizing: border-box;
    color: #f0f4f7;
    background-color: #161b22;
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 40px;

    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 1.2em;
}

select:focus {
    border-color: #3498db;
    outline: none;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    table-layout: auto;
}

th {
    padding: 18px 15px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #3498db;
    text-align: center;
    border: none;
}

td {
    padding: 16px 15px;
    background-color: #161b22;
    text-align: center;
    border-bottom: 2px solid #0d1117;
}

td button {
    padding: 5px 8px;
    margin: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
    width: 80px;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;

    line-height: 18px;
    height: 28px;
    display: inline-block;
}

.btn-pendiente {
    background-color: #4a5568;
    color: #ffffff;
}

.btn-pendiente:hover {
    background-color: #5d6c7e;
}

.btn-atendido {
    background-color: #3498db;
    color: #ffffff;
}

.btn-atendido:hover {
    background-color: #2579b0;
}

.btn-ausente {
    background-color: #e74c3c;
    color: #ffffff;
}

.btn-ausente:hover {
    background-color: #c0392b;
}

td button:disabled {
    cursor: default;
    opacity: 0.6;
}

.btn-pendiente.seleccionado {
    background-color: #5d6c7e;
    box-shadow: 0 0 10px rgba(93, 108, 126, 0.8), inset 0 0 5px rgba(255, 255, 255, 0.4);
    opacity: 1;
}

.btn-atendido.seleccionado {
    background-color: #2579b0;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.8), inset 0 0 5px rgba(255, 255, 255, 0.4);
    opacity: 1;
}

.btn-ausente.seleccionado {
    background-color: #c0392b;
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.8), inset 0 0 5px rgba(255, 255, 255, 0.4);
    opacity: 1;
}

.btn-atendido.seleccionado:hover,
.btn-ausente.seleccionado:hover,
.btn-pendiente.seleccionado:hover {
    cursor: default;
}