body {
  background-color: #F9FAFB;
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  padding-top: 60px; 
}

#navbar {
  position: fixed; /* fijo arriba */
  top: 0;
  width: 100%;
  background-color: #1F2937;;
  z-index: 1030;
  padding: 10px 0;
}

#navbar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#navbar ul li {
  margin: 0 15px;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  transition: color 0.3s ease;
}

#navbar ul li a:hover {
  color: #d6336c;
}

#content-wrapper {
  max-width: 960px;
  margin: 20px auto 60px auto;
  padding: 30px 40px;
  border-radius: 12px;
}

section {
  margin-bottom: 50px;
}

.carousel-containter{
    max-width: 200px;
    margin: 0 auto;
}

.carousel-inner img{
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

#carouselExampleSlidesOnly {
  max-width: 800px; 
  margin: 0 auto;   
}

#carouselExampleSlidesOnly img {
  width: 100%;       
  height: auto;      
  border-radius: 10px; 
}

footer {
  text-align: center;
  color: #777;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
  padding: 15px 0;
}