body {
    font-family: 'Poppins', sans-serif;
    background-color: #0d1117;
    color: #f0f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    width: 90%;
    max-width: 450px;
}

.login-form {
    background-color: #161b22;
    padding: 45px 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

h2 {
    font-size: 2.2em;
    font-weight: 700;
    color: #3498db;
    margin-bottom: 30px;
    text-shadow: 0 0 5px #3498db, 0 0 10px #5865f2;
}

.input-group {
    margin-bottom: 25px;
    text-align: left;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 1em;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #3498db;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
}

.login-button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    color: #f0f4f7;
    background: #3498db;
    background-size: 200% auto;
}

@keyframes glowing-border {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.error-message {
    color: #ff5252;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    position: relative;
}

.error-message ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links-container {
    margin-top: 30px;
    font-size: 0.95em;
}


.signup-link,
.home-link {
    color: #cccccc; 
    margin: 0;
    text-align: center;
}


.signup-link {
    margin-bottom: 10px; 
}

.signup-link a,
.home-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
}


.signup-link a:hover,
.home-link a:hover {
    text-shadow: 0 0 10px #3498db; 
}

