body {
    height: 100vh;
    background-color: #F9FAFB;
}
.card {
    border-radius: 1rem;
    background-color: #1F2937;;
}
.card-title{
    color: white;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 99, 255, 0.25);
}
.card p{
    color: white;
}
.card a{
    text-align: center;
    color: white;
}