body {
    font-family: 'Poppins', sans-serif;
    background-color: #0d1117;
    color: #f0f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.booking-container {
    width: 90%;
    max-width: 500px;
}

.booking-form {
    background-color: #161b22;
    padding: 45px 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

@keyframes glowing-border {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h2 {
    font-size: 2.2em;
    font-weight: 700;
    color: #9933ff;
    margin-bottom: 30px;
    text-shadow: 0 0 5px #9933ff, 0 0 10px #9933ff;
}

.booking-form p {
    margin-bottom: 25px;
    text-align: left;
}

.booking-form label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    color: #f0f4f7;
    font-size: 1em;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #9933ff;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
    color: #f0f4f7;
    background-color: transparent;
    transition: all 0.3s ease;
}

.booking-form input:focus,
.booking-form select:focus,
.booking-form textarea:focus {
    border-color: #9933ff;
    box-shadow: 0 0 0 3px rgba(153, 51, 255, 0.3);
    outline: none;
}

.booking-button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    color: #f0f4f7;
    background-color: #9933ff;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(153, 51, 255, 0.4);
}

.booking-button:hover {
    box-shadow: 0 0 20px rgba(153, 51, 255, 0.6);
    transform: translateY(-3px);
}

.errorlist {
    color: #ff5252;
    list-style-type: none;
    padding: 0;
    margin-top: -15px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 0.9em;
}

.errorlist li {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .booking-form {
        Dpadding: 30px 20px;
    }
}