{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Valoración</title>
    <link rel="stylesheet" href="{% static 'nuevaValoracion.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h1>Deja tu valoración</h1>
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="id_nombre_cliente">Tu nombre</label>
                    {{ form.nombre_cliente }}
                </div>
                <div class="input-group">
                    <label for="id_barbero">Barbero</label>
                    {{ form.barbero }}
                </div>
                <div class="input-group">
                    <label for="id_servicio">Servicio</label>
                    {{ form.servicio }}
                </div>
                <div class="input-group">
                    <label for="id_puntuacion">Puntuación</label>
                    {{ form.puntuacion }}
                </div>
                <div class="input-group">
                    <label for="id_comentario">Comentario</label>
                    {{ form.comentario }}
                </div>
                <button type="submit" class="btn-futurista">Enviar Valoración</button>
            </form>
        </div>
    </div>
</body>
</html>
/* Verificacion */